[Desktop Entry]
Encoding=UTF-8
Name=BNXX
Comment=BNXX P2P Cryptocurrency
Comment[fr]=BNXX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BNXX, eşten eşe kriptografik sanal para birimi
Exec=bitcoinnexx-qt %u
Terminal=false
Type=Application
Icon=bitcoinnexx128
MimeType=x-scheme-handler/bitcoinnexx;
Categories=Office;Finance;
